body {
    background-color: #303030;
}

h1, p, a, a:hover {
    color: white;
}

.a:hover {
    color: white;
}

.navbar-nav {
    font-size: small;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: black;
}

nav {
    margin-bottom: 10rem;
}

.nav-pills .nav-link {
    border-radius: 0;
}

a {
    color: #999999;
}

.card {
    height: 20%
}

.div.sublinks.collapse {
    overflow: overlay;
    max-height: 20%;
}