body {
    background-color: #303030;
}

.navbar-brand {float:none;}

h1 {
    color: white;
}

p {
    color: white;
} 

.a {
    color: white;
}

.a:hover {
    color: white;
}

.navbar-nav {
    font-size: small;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: black;
}

.nav-pills .nav-link {
    border-radius: 0;
}